name: Main workflow

on: [push, pull_request]

jobs:
  run:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: '22.x'

      - name: Dependencies
        run: |
          npm install
          npm run bootstrap

      - name: Build
        run: npm run build

      - name: Tests
        run: npm run test
